h1, section {
    text-align: center;
}

main p {
    font-size: 10px;
    color: gray;
}

.hidden-title {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#taskList {
    font-size: 1.25rem;
}

#confirmModal {
    background-color: white;
    border: white;
    font-family: Arial, serif;
}